  <nav id="sub_menu">
    <ul>
	  <li><a href="ShoppingServlet?command=catagory&kind=1">Heels</a></li>  
	  <li><a href="ShoppingServlet?command=catagory&kind=2">Boots</a></li>  
	  <li><a href="ShoppingServlet?command=catagory&kind=3">Sandals</a></li> 
	  <li><a href="ShoppingServlet?command=catagory&kind=4">Sneakers</a></li> 
	  <li><a href="ShoppingServlet?command=catagory&kind=5"> On Sale</a></li> 
    </ul>
  </nav>


